.grass {
    color: #63BC5A;
}

.bug {
    color: #91C12F;
}

.fairy {
    color: #EC8FE6;
}

.normal {
    color: #919AA2;
}

.dragon {
    color: #0B6DC3;
}

.psychic {
    color: #FA7179;
}

.ghost {
    color: #5269AD;
}

.ground {
    color: #D97845;
}

.steel {
    color: #5A8EA2;
}

.fire {
    color: #FF9D55;
}

.flying {
    color: #89AAE3;
}

.ice {
    color: #73CEC0;
}

.electric {
    color: #F4D23C;
}

.rock {
    color: #C5B78C;
}

.dark {
    color: #5A5465;
}

.water {
    color: #5090D6;
}

.fighting {
    color: #CE416B;
}

.poison {
    color: #B567CE;
}