@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@700&family=Poppins:wght@400;500&display=swap');

:root {
    font-size: 62.5%;

    --titles: #2C71B8;
    --title-cards: #0C0B3E;
}

@media (max-width: 360px) {
    :root {
        font-size: 50%;
    }
}